<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <h1 class = "title is-1">WishLists</h1>
    </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/auth/logout" class="button is-danger">
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>