<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <main>
      <h1 class="title">Wishlist App</h1>
      <HR>
      <a href="/auth/login"><button class="button is-primary">LOGIN</button></a>
      <a href="/auth/signup"><button class="button is-primary is-outlined">SIGNUP</button></a>
    </main>
  </body>
</html>